/* .text-center{
    text-align: center;
} */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: black; 
    color: rgb(0, 255, 76);
}


.container{
    width: 100vw;
    height: 100vh;
    /* border: 2px solid rgb(255, 0, 0); */
}

.primaryHeading{
    /* color: white; */
    margin: 1rem;
}

